*{
    margin: 0;
    padding: 0;
}
/* body */
.section-movil{
    max-width:375px;
    padding:0 1rem;
}

/*--------------------*/

.section-ram{
    display:flex;
    flex-direction:column;
}



.section-ram__titulo{
    font-size: var(--h2);
    color: var(--texto);
}

.Imagen{
    
    margin-top: 25rem;
    
}
.Img{
    width: 12rem;
    height: 7rem;
    margin-left: 13rem;
    margin-top: 5rem;
}

.section-ram__descripcion{
    font-size:var(--parrafo);
    color:var(--texto2);
    margin-top:1rem;
    text-align:justify;
}

.section-ram__boton{
    min-width:10rem;
    height:4rem;
    border-radius: 5%;
    background-color:var(--azul);
    color: var(--texto2);
    font-size:2rem;
    font-weight:600;
    text-decoration:none;

    padding-top:1rem;
    display:flex;
    text-align:center;
    margin-top:1rem;

    align-self:center;

    display:block;

    transition:0.3s;
}

.section-ram__boton:hover{
    background-color:var(--textohover);
    transition:0.3s;

}

